{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bug</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bug.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ bug.description }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if bug.created %}{{ bug.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ bug.status }}</td>
            </tr>
            <tr>
                <th>Reporter</th>
                <td>{{ bug.reporter.name }}</td>
            </tr>
            <tr>
                <th>Engineer</th>
                <td>{{ bug.engineer.name }}</td>
            </tr>
            <tr>
                <th>Products</th>
                <td>{{ bug.products|join(', ') }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('bug_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('bug_edit', { 'id': bug.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    {% if not bug.isClose %}
        <form action="{{ path('bug_close', {'id': bug.id}) }}" method="post" style="display: inline">
            {# HTTPのDELETEメソッドを指定 #}
            <input type="hidden" name="_method" value="PUT">
            {# CSRF対策のトークンを生成 #}
            <input type="hidden" name="_token" value="{{ csrf_token('close_bug') }}">

            <input class="btn btn-warning" type="submit" value="Close"/>
        </form>
    {% endif %}
{% endblock %}
